MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=exam_platform

SECRET_KEY=change-this-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=60
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

ADMIN_MOBILE_PHONE=+1234567890
ADMIN_NAME=Admin
ADMIN_SURNAME=User
ADMIN_PASSWORD=change-this-admin-password
